<h1>Movies</h1>

<%= link_to 'New Movie', new_movie_path %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>...</th> <!-- Otros atributos de la película aquí -->
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.description %></td>
        <td>...</td> <!-- Otros atributos de la película aquí -->
        <!-- Añadir enlaces para editar y borrar cada película -->
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Delete', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

